---
import type { CardGridProps } from "../../types/strapi";

interface Props {
  data: CardGridProps;
}

const {
  data: { cards},
} = Astro.props;

---
<section>
  <div class="pt-12 pb-20 bg-gray-50">
    <div class="container mx-auto px-4">
      
      <div class="grid grid-cols-1 md:grid-cols-2 lg:grid-cols-4 gap-6">
        {cards &&
          cards.map((card) => {
            return (
              <article class="p-6 bg-white flex flex-col h-full rounded-2xl">
                <h4 class="mb-4 text-2xl font-bold text-black font-heading">
                  {card.heading}
                </h4>
                <p class="text-slate-700 leading-loose grow">
                  {card.text}
                </p>
              </article>
            );
          })}
      </div>

    </div>
  </div>
</section>
